/* Style sheet of the graphical user interface of the client */

Button{
    -fx-text-fill: white;
    -fx-font-weight: 600;
    -fx-background-color: transparent;
}

Button:hover{
	-fx-text-fill: red;
}

.toolbar {
    -fx-background-color: linear-gradient(#295051 0%, #333333 100%);
}

.toolbar {
    -fx-background-color: #333333;
}
.stack {
    -fx-background-image: url("background.png");
    -fx-background-size: 400px;
    -fx-background-repeat: no-repeat;       
    -fx-background-position:center;   
}

.layout {
	-fx-background-color: linear-gradient(#444444 0%, #333333 100%);
}